<!DOCTYPE html>
<html>
<head>
<style>
  .circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    animation: colorChange 5s linear infinite;
  }

  @keyframes colorChange {
    0% {
      background-color: red;
    }
    25% {
      background-color: blue;
    }
    50% {
      background-color: green;
    }
    75% {
      background-color: yellow;
    }
    100% {
      background-color: red;
    }
  }
</style>
</head>
<body>

<div class="circle"></div>

</body>
</html>